/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  /* Header */
  .logo {
    font-size: 20px;
  }
  .bar_area {
    width: 35px;
    height: 35px;
  }
  .small_bar {
    margin: 10px 0;
    width: 20px;
  }
  .close_btn svg {
    font-size: 30px;
  }
  .responsive_content {
    height: 100vh;
  }
  .left_menu {
    width: 100%;
    height: 30%;
  }
  .center_menu {
    width: 100%;
    height: 35%;
  }
  .right_menu {
    width: 100%;
    height: 35%;
  }
  .menu {
    font-size: 12px;
  }
  .follow_us {
    font-size: 12px;
  }
  .social_link svg {
    font-size: 20px;
  }
  /* banner */
  .banner_heading_title {
    font-size: 35px;
  }
  /* section one */
  .section_one_img {
    width: 200px;
    height: 200px;
  }
  .section_title {
    font-size: 20px;
  }
  /* Product */
  .product_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .product_img {
    height: 260px;
  }
  .more_btn {
    font-size: 13px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 13px;
  }
  /* Header */
  .logo {
    font-size: 20px;
  }
  .bar_area {
    width: 35px;
    height: 35px;
  }
  .small_bar {
    margin: 12px 0;
  }
  .close_btn svg {
    font-size: 30px;
  }
  .responsive_content {
    height: 100vh;
  }
  .left_menu {
    width: 100%;
    height: 30%;
  }
  .center_menu {
    width: 100%;
    height: 35%;
  }
  .right_menu {
    width: 100%;
    height: 35%;
  }
  .menu {
    font-size: 12px;
  }
  .payment_btn {
    width: 160px;
    height: 40px;
  }
  .follow_us {
    font-size: 12px;
  }
  .social_link svg {
    font-size: 20px;
  }
  /* banner */
  .banner_heading_title {
    font-size: 35px;
  }
  /* section one */
  .section_one_img {
    width: 250px;
    height: 250px;
  }
  .section_title {
    font-size: 30px;
  }
  /* Product */
  .product_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .product_img {
    height: 150px;
  }
  .more_btn {
    font-size: 8px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 13px;
  }
  /* Header */
  .logo {
    font-size: 20px;
  }
  .bar_area {
    width: 35px;
    height: 35px;
  }
  .small_bar {
    margin: 12px 0;
  }
  .close_btn svg {
    font-size: 30px;
  }
  .responsive_content {
    height: 100vh;
  }
  .left_menu {
    width: 100%;
    height: 30%;
  }
  .center_menu {
    width: 100%;
    height: 35%;
  }
  .right_menu {
    width: 100%;
    height: 35%;
  }
  .menu {
    font-size: 12px;
  }
  .payment_btn {
    width: 160px;
    height: 40px;
  }
  .follow_us {
    font-size: 12px;
  }
  .social_link svg {
    font-size: 20px;
  }
  /* banner */
  .banner_heading_title {
    font-size: 35px;
  }
  /* section one */
  .section_one_img {
    width: 250px;
    height: 250px;
  }
  .section_title {
    font-size: 30px;
  }
  /* Product */
  .product_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .product_img {
    height: 150px;
  }
  .more_btn {
    font-size: 8px;
  }
}
