:root {
  --red: #dc3545;
  --light-green: #03fb32;
  --white-primary: #e5e5e5;
}
.heading_title {
  font-size: 50px;
  font-weight: 600;
}
.heading_title_top {
  margin-top: 70px;
}
@media (max-width: 575.98px) {
  .heading_title {
    font-size: 20px;
  }
  .heading_title_top {
    margin-top: 100px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .heading_title_top {
    margin-top: 100px;
  }
}
