:root {
  --red: #dc3545;
  --light-green: #03fb32;
  --white-primary: #e5e5e5;
}
.heading_title {
  font-size: 50px;
  font-weight: 600;
}
.jute_hero_bg .heading_title,
.leather_hero_bg .heading_title {
  margin-top: 100px;
}
@media (max-width: 575.98px) {
  .heading_title {
    font-size: 20px;
  }
}
